@font-face {
    font-family: 'ABC Arizona Sans Trial';
    src: url('fonts/ABCArizonaSans-Bold-Trial.woff') format('woff');
    font-weight: 700;
 }
@font-face {
    font-family: 'ABC Arizona Sans Trial';
    src: url('fonts/ABCArizonaSans-Medium-Trial.woff') format('woff');
    font-weight: 500;
 }
@font-face {
    font-family: 'ABC Arizona Sans Trial';
    src: url('fonts/ABCArizonaSans-Regular-Trial.woff') format('woff');
    font-weight: 400;
 }
 @font-face {
    font-family: 'ABC Arizona Sans Trial';
    src: url('fonts/ABCArizonaSans-Light-Trial.woff') format('woff');
    font-weight: 300;
 }
 @font-face {
    font-family: 'ABC Arizona Sans Trial';
    src: url('fonts/ABCArizonaSans-Thin-Trial.woff') format('woff');
    font-weight: 100;
 }
 @font-face {
    font-family: 'ABC Arizona Flare Trial';
    src: url('fonts/ABCArizonaFlare-Bold-Trial.woff') format('woff');
    font-weight: 700;
 }
@font-face {
    font-family: 'ABC Arizona Flare Trial';
    src: url('fonts/ABCArizonaFlare-Medium-Trial.woff') format('woff');
    font-weight: 500;
 }
@font-face {
    font-family: 'ABC Arizona Flare Trial';
    src: url('fonts/ABCArizonaFlare-Regular-Trial.woff') format('woff');
    font-weight: 400;
 }
 @font-face {
    font-family: 'ABC Arizona Flare Trial';
    src: url('fonts/ABCArizonaFlare-Light-Trial.woff') format('woff');
    font-weight: 300;
 }
 @font-face {
    font-family: 'ABC Arizona Flare Trial';
    src: url('fonts/ABCArizonaFlare-Thin-Trial.woff') format('woff');
    font-weight: 100;
 }

 @font-face {
    font-family: 'ABC Arizona Mix Trial';
    src: url('fonts/ABCArizonaMix-Bold-Trial.woff') format('woff');
    font-weight: 700;
 }
@font-face {
    font-family: 'ABC Arizona Mix Trial';
    src: url('fonts/ABCArizonaMix-Medium-Trial.woff') format('woff');
    font-weight: 500;
 }
@font-face {
    font-family: 'ABC Arizona Mix Trial';
    src: url('fonts/ABCArizonaMix-Regular-Trial.woff') format('woff');
    font-weight: 400;
 }
 @font-face {
    font-family: 'ABC Arizona Mix Trial';
    src: url('fonts/ABCArizonaMix-Light-Trial.woff') format('woff');
    font-weight: 300;
 }
 @font-face {
    font-family: 'ABC Arizona Mix Trial';
    src: url('fonts/ABCArizonaMix-Thin-Trial.woff') format('woff');
    font-weight: 100;
 }

 @font-face {
    font-family: 'ABC Arizona Text Trial';
    src: url('fonts/ABCArizonaText-Bold-Trial.woff') format('woff');
    font-weight: 700;
 }
@font-face {
    font-family: 'ABC Arizona Text Trial';
    src: url('fonts/ABCArizonaText-Medium-Trial.woff') format('woff');
    font-weight: 500;
 }
@font-face {
    font-family: 'ABC Arizona Text Trial';
    src: url('fonts/ABCArizonaText-Regular-Trial.woff') format('woff');
    font-weight: 400;
 }
 @font-face {
    font-family: 'ABC Arizona Text Trial';
    src: url('fonts/ABCArizonaText-Light-Trial.woff') format('woff');
    font-weight: 300;
 }
 @font-face {
    font-family: 'ABC Arizona Text Trial';
    src: url('fonts/ABCArizonaText-Thin-Trial.woff') format('woff');
    font-weight: 100;
 }

 @font-face {
    font-family: 'ABC Arizona Serif Trial';
    src: url('fonts/ABCArizonaSerif-Bold-Trial.woff') format('woff');
    font-weight: 700;
 }
@font-face {
    font-family: 'ABC Arizona Serif Trial';
    src: url('fonts/ABCArizonaSerif-Medium-Trial.woff') format('woff');
    font-weight: 500;
 }
@font-face {
    font-family: 'ABC Arizona Serif Trial';
    src: url('fonts/ABCArizonaSerif-Regular-Trial.woff') format('woff');
    font-weight: 400;
 }
 @font-face {
    font-family: 'ABC Arizona Serif Trial';
    src: url('fonts/ABCArizonaSerif-Light-Trial.woff') format('woff');
    font-weight: 300;
 }
 @font-face {
    font-family: 'ABC Arizona Serif Trial';
    src: url('fonts/ABCArizonaSerif-Thin-Trial.woff') format('woff');
    font-weight: 100;
 }

body{
    margin: 0;
    font-family: 'ABC Arizona Sans Trial', sans-serif;
    font-size: 80px;
    line-height: 98px;
    font-weight: 100;
    text-align: center;
    color: white; 
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.2s;
}
section{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 98px;
}
section.title{
    width: auto;
    font-size: 120px;
    display: flex;
}
section.position{
   width: auto;

   display: flex;
   flex-direction: column;
}
.position .Line{
   width: auto;
   font-size: 120px;
   display: flex;
   flex-direction: row;
   margin: 20px 0;
   justify-content: center;
}
 div{
    font-weight: 100;
    transition: font-weight 0.4s, font-family .1s;
}
.title  div{
    font-weight: 100;
    transition: font-weight 0s, font-family 0s;
    width: 31px;
}

#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .75;
  }
  #bgimg {
   position: fixed;
   left: -290px;
   top: 0;
   /* min-width: 100%; */
   /* min-height: 100%; */
   z-index: -1;
   opacity: .75;
   width: 100%;
 }